<h1>Bienvenido!!</h1>

<form action="/login" method="GET">
  <input type="submit" value="Logueate!!">
</form>

    <form action="/signup" method="GET">
      <input type="submit" value="Registrate!!">
    </form>
